.footer {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 80px;
    background-color: #3b3939;
    height: 350px;
    font-size: 20px;
}

.footer-a {
    margin-bottom: -20px;}
.footer-text{
    font-family: 'aleo';
    background-color: #3b3939;
}

.footer-plan {
    background-color: #3b3939;
}
.footer-plan h2{
    font-family: 'aleo';
    background-color: #3b3939;
}
.footer-plan a{
    font-family: 'aleo';
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #3b3939;
}


.footer-contact{
    background-color: #3b3939;
    padding-bottom: 43px;
    
}

.footer-contact h2 {
    background-color: #3b3939;
    font-family: 'aleo';

}

.footer-contact p{
    margin-top: 20px;
    background-color: #3b3939;
    font-family: 'aleo';
}
.footer-contact i {
    background-color: #3b3939;
}

.box-google {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5%;
    background-color: white;
}

.box-google img {
    background-color: white;
    height: 40px;
    width: 40px;
}

.box-stars{
    background-color: white;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    height: 50px;
    
    & p {
        background-color: white;
        color: black;
        margin-right: 10px;
    }

    & i {
        background-color: white;
        color: #FCBF02;

    }
}

.box-google-text {
    background-color: white;

& a{
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 15px;
}
}

.divider {
    width: 1px;
    background-color: #ccc; /* Adjust the color as needed */
    height: 50%; /* Adjust the height as needed */
    margin: 0 10px; /* Adjust the margin as needed to control spacing */
}


.footer-text-bottom p{
    width: 100%;
    color: white;
    background-color: #3b3939;
    font-family: 'aleo';
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    
    & a {
        background-color: #3b3939;
        color: white;
        text-decoration: none;
        margin-inline: 8px ;
        font-family: "aleo";
    }
}

@media (max-width:975px) {
    .footer{
        padding-inline: 15px;
    }
}

@media (max-width:800px) {
    .footer {
      padding-inline: 5px;
    }
    .footer-text,.footer-contact,.footer-plan {
        font-size: 15px;
    }
}

@media (max-width:696px) {
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        padding-top: 150px;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        padding-inline: 10px;
    }
    .divider {
        display: none;
    }
    .box-google{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 20px;
    }
    .footer-contact {
        padding-top: 6px;
    }
}

@media (max-width:443px) {
    .footer{
        grid-template-columns: 1fr;
        height: auto;
    }
    .footer-text{
        margin-top: 20px;
    }
}