.presentation{
    margin-bottom: 170px;

 & img {
    margin-inline: auto;
    margin-bottom: 120px;
    display: flex;
}
}



.presentation-text {

    display: flex;
    flex-direction: column;
    justify-content: center;
    & h2{
        padding: 10px;
        font-family: 'aleo';
        font-size: 60px;
        margin-top: 100px;
        align-items: baseline;
        margin-inline: 235px;
        margin-bottom: 40px;
        text-align: center;
    }
    & p {
        font-family: 'aleo';
        font-size: 20px;
        margin-inline: 250px;
        align-items: center;

    }
}

.img-mercedes{
    width: 70%;
    height: 90%;
    border-radius: 5%;
    margin-top: 60px;
    margin-inline: 20px;
}

@media (max-width:1124px) {
    .presentation-text h2 {
        margin-inline: 180px;
        text-align: center;
    }
    .presentation-text p {
        margin-inline: 131px;
    }
}

@media (max-width:975px) {
    .presentation h1 {
        margin-inline: 20px;
        font-size: 70px;
    }
}
@media (max-width:868px) {
    .presentation h1 {
        margin-inline: 20px;
        font-size: 60px;
    }
    .presentation-text p {
        margin-inline: 100px;
    }
    .presentation-text h2 {
      margin-inline: 130px;
      font-size: 52px;
      text-align: center;
    }
}

@media (max-width:696px) {
    .presentation h1{
        font-size: 50px;
       
    }
    .presentation-text h2 {
        margin-inline: 115px;
    }
    .presentation .img-mercedes{
        margin-inline: 45px;
        width: 83%;
    }

    .presentation img {
        width: 99%;
        height: 99%;
        margin-inline: auto;
    }
   }

@media (max-width:522px) {
    .presentation h1 {
        font-size: 38px;
    }
    .presentation img {
        width: 99%;
        height: 99%;
        margin-inline:auto;
    }
    .presentation-text p {
        margin-inline: 57px;
    }
}

@media (max-width:401px) {
    .presentation h1 {
        font-size: 30px;
        margin-inline: auto;
    }
    .presentation-text h2 {
        font-size:40px;
        margin-inline: 100px;
        margin-inline: 27px;
    }
    .presentation .img-mercedes{
        display: flex;
        margin-inline: 14px;

        width:350px;
    }
}
 