.transports{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 50px;
    
    & p{
        margin-inline: auto;
    }
}

.tr-gare-aero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & h1{
        font-size: 80px;
        margin-bottom: 70px;
    }
    & p{
        font-size: 30px;
        margin-inline: 200px;
    }
    & i{
        margin-right: 20px;
    }
}

.tr-tt-distance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    & h1{
        font-size: 80px;
        margin-bottom: 70px;
    }
    & p{
        font-size: 30px;
        margin-inline: 200px;
    }
    & i{
        margin-right: 20px;
    }
}

.tr-hop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & h1{
        font-size: 80px;
        margin-bottom: 50px;
    }
    & p{
        font-size: 30px;
        margin-inline: 200px;
    }
    & i{
        margin-right: 20px;
    }
}

.tr-hop h2{
    display:flex ;
    justify-content: center;
    margin-bottom: 50px;
    font-family: 'abril fatface';
    font-size: 40px;

}
.tr-hop h3{
    display:flex ;
    justify-content: center;
    margin-bottom: 80px;
    font-family: 'abril fatface';
    font-size: 30px;
}
