.transports{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 50px;
    
    & p{
        margin-inline: auto;
    }
}

.tr-gare-aero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & h1{
        font-size: 80px;
        margin-bottom: 70px;
        text-align: center;
    }
    & p{
        font-size: 20px;
        margin-inline: 200px;
    }
    & i{
        margin-right: 20px;
    }
}

.tr-tt-distance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    & h1{
        font-size: 80px;
        margin-bottom: 70px;
        text-align: center;
    }
    & p{
        font-size: 20px;
        margin-inline: 235px;
    }
    & i{
        margin-right: 20px;
    }
}

.tr-hop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & h1{
        font-size: 80px;
        margin-bottom: 50px;
        text-align: center;
    }
    & p{
        font-size: 20px;
        margin-inline: 200px;
    }
    & i{
        margin-right: 20px;
    }
}

.tr-hop h2{
    display:flex ;
    justify-content: center;
    margin-bottom: 50px;
    font-family: 'abril fatface';
    font-size: 40px;

}
.tr-hop h3{
    display:flex ;
    justify-content: center;
    margin-bottom: 80px;
    font-family: 'abril fatface';
    font-size: 30px;
}



@media (max-width:975px) {
    .tr-gare-aero h1,
    .tr-hop h1,
    .tr-tt-distance h1{
        margin-inline: 10px;
        font-size: 51px;
        text-align: center;
    }
    .tr-gare-aero h1{
        margin-top: 70px;
    }
    .tr-gare-aero p,
    .tr-hop p,
    .tr-tt-distance p{
margin-inline: 10px;
    }
}

@media (max-width:508px) {
    .tr-hop h2,h3 {
        font-size: 50px;
        text-align: center;
    }
}